{% extends "base.html" %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>By {{ post.author.username }} on {{ post.created_at }}</p>
    <div>{{ post.content }}</div>
    <a href="{% url 'post_list' %}">Back to All Posts</a>

    <h2>Comments</h2>
    <ul>
        {% for comment in post.comments.all %}
            <li>
                <strong>{{ comment.author.username }}:</strong> {{ comment.text }} ({{ comment.created_at }})
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'add_comment' post.id %}">Add a Comment</a>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to add a comment.</p>
    {% endif %}
{% endblock %}
